@model FINAL_TEST.Models.Employee

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-container">

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Employee</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.HoVaTen)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HoVaTen)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.GioiTinh)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GioiTinh)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NgaySinh)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NgaySinh)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TrinhDoDaoTao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TrinhDoDaoTao)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NoiDaoTao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NoiDaoTao)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ChuyenNganh)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ChuyenNganh)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ViTriCongViec)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ViTriCongViec)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DonViCongTac)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DonViCongTac)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NgayThuViec)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NgayThuViec)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NgayChinhThuc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NgayChinhThuc)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LoaiHopDong)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LoaiHopDong)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TrangThai)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TrangThai)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
    </div>
